@import url('https://fonts.googleapis.com/css?family=Caveat|Open+Sans+Condensed:300');

 /*============ GLOBAL ===============*/
* {
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-size: 22px;
}

.propsBody {
    margin: 0 0 8em 0;
    padding: 0 2em;
}

h2 {
  background-color: #ebd7cc;
  font-family: 'Caveat', cursive;
  padding: 0 1%;
  width: 8em;
  margin-top: 0;
}

h3 {
  background-color: #ebd7cc;
  font-family: 'Caveat', cursive;
  width: 9em;
  padding: 0 1%;
  margin: 1em 0;
}

p, a {
  margin: 2px 1px;
}

blockquote {
  width: 80%;
  box-shadow: 10px 10px 5px grey;
  padding: 1em;
}

 /*============= NAV/HEADER =================*/
header {
  display: flex;
  justify-content: space-around;
  font-family: 'Caveat', cursive;
  padding: 4% 0;
  width: 100%;
  color: #efc6c6;
}

header a:visited {
  color: #c49191;
}

/*============== CHILDREN ===========*/
.body {
  display: flex;
  justify-content: center;
  padding: 0 5%;
  margin-bottom: 20%;
}

/*======== CONTACT/FOOTER ============*/
footer {
  display: flex;
  background-color: black;
  padding: 2% 0;

  width: 100%;
  justify-content: space-around;
}

footer a {
  color: #ebd7cc;
}

/*---------- landing ------------*/
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 200px;
  width: 200px;
  border-radius: 10%;
}

/*----------- about ------------*/

.aboutDiv{
  box-shadow: 10px 10px 5px grey;
  padding: 2em;
  margin-bottom: 1em;
}

 /*--------- portfolio --------*/

.portfolio {
  width: 100%;
}

.projectWrapper {
  display: flex;
  flex-flow: row nowrap;
}

.projectWrapper a {
  font-weight: bolder;
  background-color: #ebd7cc;
  color: black;
  padding: 2%;
  box-shadow: 10px 10px 5px grey;
}

.bullet {
  margin-bottom: 1em;
}

.bulletWrapper {
  margin-bottom: 1em;
  width: 70%;
  padding: 3%;
  width: 100%;
}

.projecth3 {
  height: 150px;
  width: 20%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 5px grey;
}

.projectTools {
  font-weight: bold;
  margin-bottom: 1em;
  background-color: black;
  color: white;
  padding: 2%;
}

 /*---------- references --------*/
 .allRef {
   display: flex;
   flex-flow: row wrap;
 }

 .ref {
   width: 50%;
   height: 400px;
 }

 /*------- resume ---------*/

.contactType {
  margin-bottom: 1em;
}

.pdf {
  height: 900px;
  width: 700px;
}

.resume {
  display: flex;
  justify-content: center;
}

.resumePDF {
  margin-bottom: 2em;
}

.downloadLink {
  background-color: black;
  color: white;
  padding: 1em;
  box-shadow: 10px 10px 5px grey;
}

/*=========== MEDIA QUERIES ===============*/
@media only screen and (max-width:750px) {
  .allRef {
    flex-flow: column nowrap;
    justify-content: space-between;
  }

  .ref {
    margin-bottom:20em;
  }

  .skills {
    flex-direction: column;
  }

  .bullet {
    width: 100%;
  }

  .skillsh3 {
    width: 100%;
  }

  .resume {
    flex-direction: column;
  }

  .projectWrapper {
    flex-direction: column;
  }

  .projecth3 {
    width: 100%;
  }

  .bullet {
    width: 100%;
  }
}
